.settings {
    
    &__header {
        position: relative;
        margin-bottom: 24px ;
    }

    &__category {
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    &__category-item {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__category-title {
        color: #fff;
        margin-bottom: 8px;
    }

    &__list {
        padding: 16px 20px;
        background: rgba(78, 78, 97, 0.2);
        border-radius: 16px;
        position: relative;
    }

    &__item {
        padding: 6px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-icon {
        font-size: 18px;
        margin-right: 20px;
    }

    &__item-name {
        margin-right: auto;
    }

    &__item-description {
        color: #A2A2B5;

        & .angle-right {
            font-size: 14px;
            margin-left: 8px;
        }
    }
}