.category {
    padding: 16px;
    margin-bottom: 8px;
    background: var(--gray80);
    border-radius: 16px;
    position: relative;
    background: rgba(78, 78, 97, 0.2);

    &:last-child {
        margin-bottom: 0;
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: auto;

        &:first-child {
            font-size: 32px;
        }
    }

    &__title {
        margin: 0 auto 0 20px;
        
        P:first-child { margin-bottom: 0 !important; }
        p:last-child {
            margin: 2px 0 0 !important;
            color: var(--gray30);
        }
    }
    
    &__price {
        P:first-child { margin-bottom: 0 !important; }
        p:last-child {
            margin: 2px 0 0 !important;
            color: var(--gray30);
        }
    }

    &__indicator {
        margin-top: 16px;
    }

    &__delete {
        padding: 5px 20px;
        margin: 8px auto 0;
    }
}