:root {
    --gray100: #0E0E12;
    --gray80: #1C1C23;
    --gray70: #353542;
    --gray60: #4E4E61;
    --gray50: #666680;
    --gray40: #83839C;
    --gray30: #A2A2B5;
    --gray20: #C1C1CD;
    --gray10: #E0E0E6;
    --white: #FFFFFF;
    
    --primary-100: #5E00F5;
    --primary-50: #7722FF;
    --primary-20: #924EFF;
    --primary-10: #AD7BFF;
    --primary-5: #C9A7FF;
    --primary-0: #E4D3FF;
    
    --accent-p100: #FF7966;
    --accent-p50: #FFA699;
    --accent-p0: #FFD2CC;
    
    --accent-s100: #00FAD9;
    --accent-s50: #7DFFEE;
}