@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

.ft__display {
    font-weight: 700;
    font-size: 72px;
    line-height: 108px;
}

.ft__8 {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
}

.ft__7 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.ft__6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.ft__5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.ft__4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.ft__3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.ft__2 {
    font-weight: 600;
    font-size: 14px;
}

.ft__1 {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.ft__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.ft__body_l {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.ft__body_m {
    font-size: 14px;
    letter-spacing: 0.2px;
}

.ft__body_s {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
}
