@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

.font-display {
    font-weight: 700;
    font-size: 72px;
    line-height: 108px;
}

.font-headline-8 {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
}

.font-headline-7 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.font-headline-6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.font-headline-5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.font-headline-4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.font-headline-3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.font-headline-2 {
    font-weight: 600;
    font-size: 14px;
}

.font-headline-1 {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.font-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.font-body-large {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.font-body-medium {
    font-size: 14px;
    letter-spacing: 0.2px;
}

.font-body-small {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
}
