.subs {
    &__item {
        margin-bottom: 8px;

        &-link {
            width: 100%;
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--gray70);
            border-radius: 16px;
            color: inherit;
            text-decoration: none;
        }
    
        &-img {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            background: var(--gray40);
            border-radius: 12px;
        }
    
        &-date {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            background: var(--gray70);
            border-radius: 12px;
            color: var(--gray30);
            text-align: center;
            
            p:first-child {
                font-size: 10px;
                margin: 4px 0 -4px;
            }
        }
        
        &-name {
            margin-right: auto;
        }
        
        &-price {}
    }

    &--flex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & .subs__item {
            width: 165px;
            height: 165px;
            
            &-link {
                height: 100%;
                padding: 16px;
                flex-direction: column;
                align-items: flex-start;
            }

            &-img {
                margin-bottom: auto;
            }

            &-name {
                margin: 10px 0 5px;
            }
        }
    }
}