@import '../../sass/style.scss';

.home { 
    background-color: $gray80;
    
    &__counter {
        margin: 0 auto 20px;
        text-align: center;
        position: relative;

        &::after {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: -52px;
            left: calc(50% - 112.5px);
            background-image: url('../../assets/svg/Ellipse3.svg');    
            background-repeat: no-repeat;
            background-size: 225px 225px;
        }
    }

    &__total {

    }   

    &__indicator {
        margin-bottom: 75px;
    }

    &__logo {
        margin-bottom: 24px;
    }

    &__total-price {
        margin-bottom: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        
        &::after {
            content: 'This month bills';
            margin-top: 16px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: $gray40;
        }
    }    

    &__total-btn {
        margin-bottom: 36px;
        padding: 8px 12px;
        border: none;
        border-radius: 100px;
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        color: $white;
    }

    &__subs {}
}