@import '../../../sass/style.scss';

.statistic {
    display: flex;
    justify-content: space-between;

    &__item {
        padding: 16px 18px;
        background: rgba(78, 78, 97, 0.2);
        border-radius: 16px;
        position: relative;
    
        &::before {
            position: absolute;
            top: 0;
        }
    }
    
    &__name {
        color: $gray40;
    }
    
    &__info {} 
}

