.statistic {
    display: flex;
    justify-content: space-between;

    &__item {
        padding: 16px 18px;
        background: rgba(78, 78, 97, 0.2);
        border-radius: 16px;
        position: relative;
    
        &::after {
            content: '';
            width: 50%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 25%;
        }

        &:nth-child(1)::after { background: var(--accent-p50); }
        &:nth-child(2)::after { background: var(--primary-10); }
        &:nth-child(3)::after { background: var(--accent-s50); }
    }
    
    &__name {
        color: var(--gray40);
    }
    
    &__info {} 
}

