@import '../../sass/style.scss';

.top-menu {
    color: $gray30;
    position: relative;
    margin-bottom: 44px;

    &__page-name {
        text-align: center;
    }

    &__btn {
        position: absolute;
        top: 0;
        background: transparent;
        border: none;
        font-size: 22px;
        color: inherit;

        &--left { left: 0; }
        &--right { right: 0; }
    }
}