@import './sass/style.scss';

.app {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: $white;
    overflow: hidden;
}

.wrap {
    min-width: 100vw;
    min-height: 100vh;
    padding: 24px 24px 22px;
    background-color: #0E0E12;
}

.logo-40 {
    width: 40px;
    height: 40px;
    background-color: $gray30;
    border-radius: 30%;
}