.total {
    &__indicator {
        margin-bottom: 75px;
    }
    
    &__logo {
        margin-bottom: 24px;
    }
    
    &__price {
        margin-bottom: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        
        &::after {
            content: 'This month bills';
            margin-top: 16px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: var(--gray40);
        }
    }    
    
    &__btn {
        margin-bottom: 36px;
        padding: 8px 12px;
        border: none;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.1);
        color: var(--white);
        display: inline-block;
        position: relative;
    }
}   
